.footer-wrapper {
  background: url(../../assets/images/bg-2.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-link:not(:last-child) {
  margin-right: 88px;
}
.verified {
  display: flex;
  align-items: center;
  justify-content: center;
}
.verified img {
  margin-right: 24px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links a:not(:last-child) {
  margin-right: 18px;
}

@media (max-width: 1000px) {
  .footer-link:not(:last-child) {
    margin-right: 24px;
  }
}
